.contentTop{
    width: 100%;
    border-bottom: 2px solid #000;
    text-align: center;
    height: 50px;
}
.contentBottom{

height: 450px;
}
.info{

margin-top: 150px;
}
.infoText{
    text-align: center;
}
.inputBox{
    width: 330px;
    height: 40px;
    margin: 25px 0px;
}
.btnArea{
    text-align: center;
}
.inputBtn{
    width: 100px;
    height: 40px;
}