.contentTop{
    width: 100%;
    border-bottom: 2px solid #000;
    text-align: center;
    height: 50px;
}
.contentBottom{

height: 600px;
}
.info{

margin-top: 100px;
}
.infoText{
    text-align: center;
}
.inputBox{
    width: 300px;
    height: 35px;
    margin: 25px 0px;
}
.btnArea{
    text-align: center;
}
.inputBtn{
    width: 90px;
    height: 35px;
}