.menu:first-of-type{
    text-decoration: underline;
}
.table{
    width: 100%;
    height: 100%;
}
.table > tbody> tr {
    height: 50px;
}
.table > tbody> tr > td{
    text-align: center;
}
.btnDelete{
    width: 130px;
    height: 45px;
}