<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.main.first.FirstMapper">
	<!-- 닉네임 확인을 위해 user 테이블에서 select를 통해 확인 -->
	<select id="checkNickName" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM wego.user WHERE nickname = #{nickName}
	</select>
 	<!-- 토큰을 파싱에서 pk가져오기 -->
 	<select id="findUser" parameterType="String" resultType="kr.co.main.first.UserVO">
 		SELECT *
 		FROM wego.user
 		WHERE SecretKey = #{ id }
 	</select>
	<!-- 유저 등록을 하기 위해서 user에 insert -->
 	<insert id="insertUser" parameterType="kr.co.main.first.UserVO">
 		INSERT INTO user (UserName, Email, NickName, Regdate, Role, BanPost, SecretKey)
 		VALUE (#{userName}, #{email}, #{nickName}, curdate(), 0, 0, #{secretKey});
 	</insert>
 	
 	<insert id="insertInfo" parameterType="kr.co.main.first.UserVO">
 	<!-- statistics 테이블 값 두개 생성 -->
 		INSERT INTO statistics (User_pk, Food, Accommodation, shopping, Culture, Tour, Leisure, State)
 		VALUE (#{user_pk}, 0, 0, 0, 0, 0, 0,0);
 		
 		INSERT INTO statistics (User_pk, Food, Accommodation, shopping, Culture, Tour, Leisure, State)
 		VALUE (#{user_pk}, 0, 0, 0, 0, 0, 0,1);
	<!-- card 테이블 생성 -->
		INSERT INTO card (User_pk, CardNum)
 		VALUE (#{user_pk},#{creditcardnumber});
 	</insert>
 	
</mapper>



 