.recordAndAccountBook{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 0px 20px;
	gap: 30px;
	
	width: 100%;
	height: 49px;
	order: 0;
}

.planAndReviewAndTempSave{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 10px;
	
	width: 100%;
	height: 38px;
	order: 1;	
}

.postsWrapper{
	height: 656px;
	order:2;
}

.pagenate{
	order:3;	
}

 .willdo{
	width:18.8%;
	height:29px;
	font-size:13px;
	cursor: default;
}

.alldone{
	width:18.8%;
	height:29px;
	font-size:13px;
	cursor: default;
} 

.tempSaved{
	width:18.8%;
	height:29px;
	font-size:13px;
	cursor: default;
} 
