.recordAndAccountBook{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 0px 20px;
	gap: 30px;
	
	width: 100%;
	height: 49px;
	order: 0;
}

.planAndReviewAndTempSave{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 10px;
	
	width: 100%;
	height: 38px;
	order: 1;	
}

.postsWrapper{
	height: 656px;
	order:2;
}

.pagenate{
	order:3;	
}

 .willdo{
	width:18.8%;
	font-size:13px;
	cursor: default;
	position: absolute;
	top: 0;
	left: 0;
	margin: 3px 0px 0px 3px;
}

.alldone{
	width:18.8%;
	font-size:13px;
	cursor: default;
	position: absolute;
	top: 0;
	left: 0;
	margin: 3px 0px 0px 3px;
} 

.tempSaved{
	width:18.8%;
	font-size:13px;
	cursor: default;
	position: absolute;
	top: 0;
	left: 0;
	margin: 3px 0px 0px 3px;
} 

.paging{
	display:flex;
}

.paging li{
	margin: 0px 2px 0px 2px;
}