
.writeWrapper {
  box-sizing: border-box;
  width: auto;
  height: 939px;
  border: 1px solid #000000;
  margin: 0 auto;
  text-align: center;
}

.ContentsContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  
}

.ContentsContainer h3 {
  width: auto;
  height: 39px;
  flex-direction: column;
  padding: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.oneLocation{
	border-bottom: 1px solid black;
	width:99%;
	height:20%;
	display:flex;
	margin: 0 auto;
	margin-top: 8.5px;
	margin-bottom: 8.5px;
	justify-content: center;
	align-items: center;
}

.firstLine{
	display:flex;
	justify-content: space-between;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight:bold;
}

.scoring{
	display:flex;
}

#score{
	margin-left:5px;
}
.secondLine{
	display:flex;
	justify-content: space-between;
	font-size: 20px;
	font-weight:bold;
}

.secondLine input{
	border:1px solid black;
	width:95.3%;
	height:27px;
}

.info{
	width: 100%;
}

.day{
	font-size: 25px;
	font-weight:bold;
	margin-bottom:40px;
}

.secondLine{
	margin-top: 15px;	
}

.bottomWrapper{
	width: 100%;
	display:flex;
	justify-content: flex-end;
	margin-top: 10px;
	gap:5px
}