<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.main.myRecord.plan.MyRecordPlanMapper">

	<select id="list" parameterType="kr.co.main.myRecord.plan.MyRecordPlanVO" resultType="kr.co.main.myRecord.plan.MyRecordPlanVO">
		SELECT p.plan_pk, p.title, p.start_date, p.end_date, p.num_of_people, SUM(d.budget) as budget FROM wego.plan p, wego.plan_detail d
		<where>
			p.plan_pk = d.plan_pk and p.state = 0
		</where>
		GROUP BY p.plan_pk
		LIMIT ${startIdx},8
	</select>
	
	<select id="count" resultType="int">
		SELECT COUNT(*),0 FROM wego.plan p
		<where>
			p.state = 0
		</where>
	</select>
	
	<select id="list2" parameterType="kr.co.main.myRecord.plan.MyRecordPlanVO" resultType="kr.co.main.myRecord.plan.MyRecordPlanVO">
		SELECT p.plan_pk, p.title, p.start_date, p.end_date, p.num_of_people, SUM(d.budget) as budget, p.reviewed FROM wego.plan p, wego.plan_detail d
		<where>
			p.plan_pk = d.plan_pk and p.state = 1
		</where>
		GROUP BY p.plan_pk
		LIMIT ${startIdx},8
	</select>
	
	<select id="count2" resultType="int">
		SELECT COUNT(*) FROM wego.plan p
		<where>
			p.state = 1
		</where>
	</select>
	
	<select id="list3" parameterType="kr.co.main.myRecord.plan.MyRecordPlanVO" resultType="kr.co.main.myRecord.plan.MyRecordPlanVO">
		SELECT p.plan_pk, p.title, p.start_date, p.end_date, p.num_of_people, SUM(d.budget) as budget FROM wego.plan p LEFT OUTER JOIN wego.plan_detail d 
		ON p.plan_pk = d.plan_pk 
		<where>
			p.state = 2
		</where>
		GROUP BY p.plan_pk
		LIMIT ${startIdx},8
	</select>
	
	<select id="count3" resultType="int">
		SELECT COUNT(*) FROM wego.plan p
		<where>
			p.state = 2
		</where>
	</select>
	
	<delete id="deletion" parameterType="int">
		delete from wego.plan p where p.plan_pk = #{x}
	</delete>
	
	<select id="list4" resultType="kr.co.main.myRecord.plan.MyRecordPlanVO" parameterType="int">
		select d.day, l.region, l.location_Name, l.location_pk from wego.plan_detail d, wego.location l where d.plan_pk = #{x} and l.location_pk = d.location_pk order by d.day
	</select>
	
	<insert id="reviewing1" parameterType="kr.co.main.myRecord.plan.MyRecordPlanVO">
		insert into wego.location_review (
			location_pk, location_content, star, regdate
		) values(
			#{location_pk}, #{location_content}, #{star}, NOW()
		)
	</insert>
	
	<update id="setReviewed" parameterType="int">
		update wego.plan set reviewed = 1 where plan_pk = #{ppk}
	</update>
	
	<insert id="savingReviews" parameterType="kr.co.main.myRecord.plan.MyRecordPlanVO">
		insert into wego.review (
			plan_pk, title, content, regdate, state
		) values(
			#{plan_pk}, #{title}, #{content}, Now(), #{state}
		)
	</insert>
</mapper>