<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.main.myRecord.plan.MyRecordPlanMapper">

	<select id="list" parameterType="kr.co.main.myRecord.plan.MyRecordPlanVO" resultType="kr.co.main.myRecord.plan.MyRecordPlanVO">
		SELECT p.title, p.start_date, p.end_date, p.num_of_people, SUM(d.budget) as budget FROM wego.plan p, wego.plan_detail d
		<where>
			p.plan_pk = d.plan_pk and p.state = 0
		</where>
		GROUP BY p.plan_pk
		LIMIT ${startIdx},8
	</select>
	
	<select id="count" resultType="int">
		SELECT COUNT(*) FROM wego.plan p
		<where>
			p.state = 0
		</where>
			GROUP BY p.state
	</select>
	
	<select id="list2" parameterType="kr.co.main.myRecord.plan.MyRecordPlanVO" resultType="kr.co.main.myRecord.plan.MyRecordPlanVO">
		SELECT p.title, p.start_date, p.end_date, p.num_of_people, SUM(d.budget) as budget FROM wego.plan p, wego.plan_detail d
		<where>
			p.plan_pk = d.plan_pk and p.state = 1
		</where>
		GROUP BY p.plan_pk
		LIMIT ${startIdx},8
	</select>
	
	<select id="count2" resultType="int">
		SELECT COUNT(*) FROM wego.plan p
		<where>
			p.state = 1
		</where>
			GROUP BY p.state
	</select>
	
	<select id="list3" parameterType="kr.co.main.myRecord.plan.MyRecordPlanVO" resultType="kr.co.main.myRecord.plan.MyRecordPlanVO">
		SELECT p.title, p.start_date, p.end_date, p.num_of_people, SUM(d.budget) as budget FROM wego.plan p LEFT OUTER JOIN wego.plan_detail d 
		ON p.plan_pk = d.plan_pk 
		<where>
			p.state = 2
		</where>
		GROUP BY p.plan_pk
		LIMIT ${startIdx},8
	</select>
	
	<select id="count3" resultType="int">
		SELECT COUNT(*) FROM wego.plan p
		<where>
			p.state = 2
		</where>
			GROUP BY p.state
	</select>
	
</mapper>