.contents{
    width: 820px;
    margin: 0 auto;
}
.textBoxTitle{
    
text-align: center;
    
height: 49px;
}
.checkB{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.selectArea{
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.agreeText{
    box-sizing: border-box;
    width: 820px;
    height: 454px;
    border: 1px solid #000000;
    overflow:scroll; 
    overflow-x: hidden;
    padding: 15px;
    line-height:20px;
}
 .agreeText::-webkit-scrollbar {
   width: 10px;
 }
 .agreeText::-webkit-scrollbar-thumb {
   background-color: #2f3542;
   border-radius: 10px;
   background-clip: padding-box;
   border: 2px solid transparent;
 }
 .agreeText::-webkit-scrollbar-track {
   background-color: grey;
   border-radius: 10px;
   box-shad
}
.inputWidth{
    width: 100%;
}
.inputBox{
    width: 65%;
}
.inputNick{
    width: 330px;
    height: 25px;
}
.btnArea{
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.btnCheck{
    height: 38px;
}
.btnRegister{
    width: 90px;
    height: 40px;
}
.article_text{
	color: #767678;
	margin: 15px 0;
}
.clause_title{
	color : #767678;
}
.sections_section{
	color : #767678;
}
#alarm{
	display:none;
	margin: 15px 65px;
}