.ContentsContainer {
  width: 100%;
  height: 100%;
}
.ContentsContainer h3 {
  /* 전체 후기 수정 */

  width: auto;
  height: 39px;
  flex-direction: column;
  padding: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.writeWrapper {
  /* writeWrapper */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 200px;

  width: auto;
  height: 939px;

  border: 1px solid #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.writeTable {
  /* writeTable */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: auto;
  height: 839px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.titleWrapper {
  /* titleWrapper */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: auto;
  height: 66px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.titleWrapper h3 {
  /* 제목 */

  width: auto;
  height: 29px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.FrameCon {
  /* Frame 68 */

  align-items: flex-start;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 100%;
  height: 64px;

  border: 1px solid #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.Frame68 h3 {
  /* [기존 제목] */

  width: auto;
  height: 29px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-indent: 20px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

hr {
  /* Line 3 */

  width: auto;
  height: 0px;

  border: 1px solid #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.contentsWrapper {
  /* contentsWrapper */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: auto;
  height: 493px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.contentsWrapper h3 {
  /* 내용 */

  width: auto;
  height: 29px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  /* font-size: 24px; */
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.preFrame {
  /* Frame 68 */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: auto;
  height: 64px;

  border: 1px solid #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.preFrame h3 {
  /* [기존 내용] */

  width: auto;
  height: 66px;

  font-family: "Inter";
  font-style: normal;
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-indent: 20px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.attachmentWrapper {
  /* attachmentWrapper */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 0px; */
  gap: 20px;

  width: 100%;
  height: 220px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.Frame63 {
  /* Frame 63 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 10px;
  gap: 20px;

  width: auto;
  height: 29px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.Frame63 .imgattach {
  /* 사진 첨부 */

  width: auto;
  height: 29px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.Frame63 .imgattachExplain {
  /* 가장 앞의 사진이 목록에서 대표사진으로 보여집니다. */

  width: auto;
  height: 17px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.photoWrapper {
  /* photoWrapper */

  /* Auto layout */
  float: left;
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: auto;
  height: 171px;

  /* Inside auto layout */

  flex: none;
  /* order: 1; */
  /* align-self: stretch; */
  flex-grow: 0;
}
.photoWrapper img {
  /* photo */

  width: auto;
  height: 171px;
  float: left;
  /* background: #d9d9d9; */
  padding: 0 20px;

  /* Inside auto layout */

  flex: none;
  /* order: 0; */
  flex-grow: 0;
}

.Frame62 {
  /* Frame 62 */
  float: left;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 217px;
  height: 171px;

  border: 1px solid #000000;

  /* Inside auto layout */

  flex: none;
  /* order: 1; */
  flex-grow: 0;
}
.Frame62 img {
  /* react-icons/bs/BsFillPlusCircleFill */
  float: left;
  width: auto;
  height: 58px;
  padding: 100px;

  /* Inside auto layout */

  flex: none;
  /* order: 0; */
  flex-grow: 0;
}

.bottomWrapper {
  /* bottomWrapper */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: auto;
  height: 81px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
button {
  /* button */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px 14px;
  gap: 10px;

  width: auto;
  height: 40px;

  background: #86e5ff;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
}
button1 {
  /* 나가기 */

  width: auto;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
button2 {
  /* 저장 */

  width: auto;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.bigbitLetter {
  /* [기존 내용] */

  width: 1240px;
  height: 66px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 19px;
  display: flex;
  align-items: center;
  text-indent: 20px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.letter {
  align-items: flex-start;
}
.photo {
  /* padding: ; */
}
