<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.main.bank.BankMapper">
	
	<update id="updatePlanState">
		<![CDATA[
			UPDATE wego.plan
			SET state = 1
			WHERE plan_pk IN(SELECT a.plan_pk FROM (SELECT plan_pk FROM wego.plan WHERE state = 0 AND end_date < SYSDATE()) a);
		]]>
	</update>
	
	<insert id="insertBankPlanChk">
		INSERT INTO wego.bank_plan_chk(plan_pk)
		SELECT plan_pk
		FROM wego.plan WHERE NOT EXISTS(SELECT plan_pk FROM wego.bank_plan_chk) AND state = 1;
	</insert>
	
	<select id="selectEndPlan" resultType="kr.co.main.bank.BankPlanVO">
		SELECT *
		FROM wego.plan
		WHERE plan_pk IN(SELECT plan_pk FROM wego.bank_plan_chk WHERE account_insert = 0);
	</select>
	
	<select id="selectAccountNeedPlanDetail" parameterType="int" resultType="kr.co.main.bank.BankPlanDetailVO">
		SELECT d.start_time, d.end_time, d. budget, d.plan_pk, l.location_name, l.address, l.region
		FROM wego.plan_detail d, wego.location l
		WHERE d.location_pk = l.location_pk
		  AND plan_pk = #{plan_pk}
		ORDER BY plan_pk, start_time;
	</select>
	
	<select id="selectCardnum" parameterType="int" resultType="String">
		SELECT c.cardnum
		FROM wego.card c, wego.plan p
		WHERE p.user_pk = c.user_pk
		  AND p.plan_pk = #{plan_pk};
	</select>
	
	<select id="selectLocation" parameterType="Map" resultType="kr.co.main.bank.BankLocationVO">
		<![CDATA[
			SELECT region, address, location_name
			FROM (SELECT @rownum:=@rownum+1 num, l.region, l.address, l.location_name FROM wego.location l, (SELECT @rownum:=0) tmp WHERE region = #{region}) tmp
			WHERE num = #{num};
		]]>
	</select>
	
	<insert id="insertAccountList" parameterType="java.util.List">
		INSERT INTO wego.bank_account(cardnum, date, content, address, amount_payment)
		VALUES
		<foreach collection="list" item="item" separator=",">
		(#{item.cardnum}, #{item.date}, #{item.content}, #{item.address}, #{item.amount_payment})
		</foreach>
	</insert>
	
	<update id="updateBankPlanChk" parameterType="int">
	  UPDATE wego.bank_plan_chk
		SET account_insert = 1
		WHERE plan_pk = #{plan_pk};
	</update>
	
</mapper>